.data-table
  .data-table__container
    .data-table__header
      input.data-table__header-search(placeholder="Поиск")

    nav.data-table__nav
      .data-table__nav-title Меню
      ul.data-table__nav-list
        li.data-table__nav-item
          a.data-table__nav-link(href="##") Пункт 1
        li.data-table__nav-item
          a.data-table__nav-link(href="##") Пункт 2
        li.data-table__nav-item
          a.data-table__nav-link(href="##") Пункт 3
        li.data-table__nav-item
          a.data-table__nav-link(href="##") Пункт 4


    .data-table__main
      include ../../components/data-form/data-form


